{% extends "user/base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="d-flex align-items-baseLine p-4">
<a class="btn btn-dark shadow mr-4" href="{% url 'friendship_view_friends' request.user %}">View Friends</a>
<a class="btn btn-light shadow mr-4" href="{% url 'friendship_request_list' %}">Request List</a>
<a class="btn btn-light shadow mr-4" href="{% url 'friendship_requests_rejected' %}">Rejected Requests</a>
</div>
{% endblock content %}

{% block friends %}
{% endblock friends %}
